<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="_csrf" content= '<%= csrfToken %>' >
        <% var userSettings = userData.settings || {}; %>
        <script>
            var userData = JSON.parse('<%- JSON.stringify(userData) %>');
            var settings = JSON.parse('<%- JSON.stringify(userSettings) %>');
            var apidata = JSON.parse('<%- JSON.stringify(apidata) %>');
        </script>
        <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script>
            $(function(){
                $(document).tooltip({
                    position:{at: "center right"}
                });
            });
        </script>
        <script type="text/javascript">document.documentElement.style.setProperty("--gridRowNum", "<%= gridRowNum %>");</script>
        <script type="text/javascript" src="/js/colorful.js"></script>
        <script type="text/javascript" src="/js/updateLocation.js"></script>
        <script type="text/javascript" src="/js/addSubselect.js"></script>
        <script type="text/javascript" src="/js/gridItemDrag.js"></script>
        <script type="text/javascript" src="/js/toolbar.js"></script>
        <script type="text/javascript" src="/js/callApi.js"></script>
        <script type="text/javascript" src="/js/removeItem.js"></script>
        <script type="text/javascript" src="/js/reloadItem.js"></script>
        <script type="text/javascript" src="/js/settingsOfTool.js"></script>
        <script type="text/javascript" src="/js/postBtn.js"></script>
        <script type="text/javascript" src="/js/switchSheet.js"></script>
        <script type="text/javascript" src="/js/teachPage.js"></script>
        <script type="text/javascript" src="/js/weather.js"></script>
        <script type="text/javascript" src="/js/time.js"></script>
        <script type="text/javascript" src="/js/workTime.js"></script>
        <script type="text/javascript" src="/js/ubike.js"></script>
        <script type="text/javascript" src="/js/ubikeNTP.js"></script>
        <script type="text/javascript" src="/js/news.js"></script>
        <script type="text/javascript" src="/js/posts.js"></script>
        <script type="text/javascript" src="/js/cwbWarning.js"></script>
        <script type="text/javascript" src="/js/cwbAQI.js"></script>
        
        <!--<script>console.log('%c看屁 (ﾒ ﾟ皿ﾟ)ﾒ', 'color: #f00; font-size: 90px;');</script>-->
    </head>
    <body>
        <header onclick="hiddenBlockList();hiddenSettingList();">
            <p class="hi">Hi!</p>
            <p class = "userName"><%=userData.name %></p>
        </header>

        <div style = "height:50px;"></div>
        <main ondragover="allowDrop(event);" onclick="hiddenBlockList();hiddenSettingList();" id="main">
            <% for(let i=0, n=60, hasItem=false; i < n; i++) {
                for(let key in userData.settings) {
                    let v = userData.settings[key]; 
                    if(+v.gridItemIndex === i) { %>
                    <div id="<%= v.title + "_" + v.subtitle %>" name="<%= v.title %>" ondrop="dropOnItem(event);" draggable="true" ondragstart="itemDrag(event);" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">
                        <i class="tagRemove" onClick="removeItem(event);" name="remove" title="remove">x</i>
                        <i class="fa fa-repeat tagReload" aria-hidden="true" onClick="reloadItem(event);" name="reload" title="reload"></i>
                        <p name="title" class="itemTitle"><%= (v.subtitle!=="null")?(v.title + "-" + v.subtitle.replace("_","-")):(v.title) %></p>
                        <p name="info" class="info">loading...</p>
                        <script>callApi("<%= v.title %>", "<%= v.subtitle %>");</script>
                    </div>
                    <%  i+= (v.gridItemSize.width - 1);
                        hasItem = true;
                        break;
                    }
                }
                if(!hasItem) { %>
                    <div id="<%= 'hiddenGrid' + i %>" ondrop="dropOnHiddenItem(event);" class="gridHidden"></div>
                <% }
                hasItem=false;
            } %>
        </main>

        <!--toolbar-->
        <div class = "toolbarContainer">
            <table class = "toolbarTable">
                <tr>
                    <td>
                        <i class="fa fa-cog" name="toolbarIcon" id = "settingListBtn" aria-hidden="true" onclick="settingListBtnOnclick()"
                            onmouseover="settingListBtnOnmouseover(this)" onmouseout="settingListBtnOnmouseout(this)" title="Settings"></i> <!--setting-->
                    </td>
                    <td>
                        <i class="fa fa-th-list" name="toolbarIcon" id = "blockListBtn" aria-hidden="true" onclick="blockListBtnOnclick()"
                            onmouseover="blockListBtnOnmouseover(this)" onmouseout="blockListBtnOnmouseout(this)" title="Items"></i><!--blockList-->
                    </td>
                </tr>
            </table>
        </div>
        <!--toolbar-->

        <!--settingsList-->
        <div class = "settingList" style = "display:none">
            <table class = "settingTable">
                <tr onclick="logout()">
                    <td>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </td>
                    <td>
                        <font>Sign out</font>
                    </td>
                </tr>
                <tr onclick="info()">
                    <td>
                        <i class="fa fa-question-circle" aria-hidden="true"></i></i>
                    </td>
                    <td>
                        <font>info</font>
                    </td>
                </tr>
                <tr onclick="editName()">
                    <td>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </td>
                    <td>
                       <font>Change name</font>
                    </td>
                </tr>
                <tr onclick="editColors()">
                    <td>
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    </td>
                    <td>
                       <font>Change color</font>
                    </td>
                </tr>
            </table>
        </div>
        <!--settingsList-->

        <!--modal-->
        <div class = "modalContainer">
            <div class = "modal">
                <h3 class="modalTitle">change name:</h3>
                <input class="newName" type = "text"></input>
                <button class="save" onclick="saveName()">Save</button>
            </div>
        </div>
        <!--modal-->
        
        <div class="modalContainer">
            <div class="modal">
                <h3 class="modalTitle">標題列:</h3>
                <input name="headColorPicker" type="color" onchange="changeColors(event)"/>
                &emsp;
                <h3 class="modalTitle">姓名字:</h3>
                <input name="nameColorPicker" type="color" onchange="changeColors(event)"/>
                <br> 
                <h3 class="modalTitle">預設字:</h3>
                <input name="fontColorPicker" type="color" onchange="changeColors(event)"/>
                &emsp;
                <h3 class="modalTitle">資訊格:</h3>
                <input name="itemColorPicker" type="color" onchange="changeColors(event)"/>
                &emsp;
                <h3 class="modalTitle">背景格:</h3>
                <input name="backColorPicker" type="color" onchange="changeColors(event)"/>
                <br><br>
                <button class="save" onclick="saveColors()">儲存</button>
                <button class="save" onclick="reColors()">回復</button>
            </div>
        </div>

        <!--blockList-->
        <div class="modalContainer" style = "display:none">
            <div ondragover="allowDrop(event);" class = "blockList" >
                    
                <% let sheetListKeys = Object.keys(sheetList); %>
                <div class = "sheetContainer">
                    <% for (let sheetNum = 0; sheetNum < sheetListKeys.length; sheetNum++) {
                        if (sheetNum == 0) { %>
                            <li class = "chooseSheet" name = "sheet0" onclick = "switchSheet(0)"><%= sheetList[sheetListKeys[0]].title %></li>
                        <% } else { %>
                            <li class = "sheet" name = "sheet<%= sheetNum %>" onclick = "switchSheet('<%= sheetNum %>')"><%= sheetList[sheetListKeys[sheetNum]].title %></li>
                        <% }
                    } %>
                </div>
        
                    
                <% for (let sheetNum = 0; sheetNum < sheetListKeys.length; sheetNum++) { 
                    if (sheetNum == 0) { %>
                        <table class = "optionsContainer" name = "optionsContainer<%= sheetNum %>" border= '1' >
                    <% } else { %>
                        <table class = "optionsContainerHide" name = "optionsContainer<%= sheetNum %>" border= '1' >
                    <% } %>
                    
                        <% 
                        let sheetKeys = Object.keys(sheetList[sheetListKeys[sheetNum]]);
                        for(let i = 1 ; i < sheetKeys.length ; i++) { %>
                            <tr>
                                <%  let v = apidata[sheetKeys[i]];%>
                                <td class ="optionName" >
                                    <font><%= v.title %>:</font>
                                </td>
                                <td class="blockListItem">
                                    <div id="<%= v.title + "_default" %>" name="<%= v.title %>" ondrop="dropOnItem(event);" draggable="true" ondragstart="itemDrag(event);" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">
                                        
                                        <font name="selectTitle" class="itemTitle"><%= (v.subtitle)?(v.title + "-"):(v.title) %></font>

                                        <% if(v.listType == "select") {
                                            if(v.subtitle) { %>
                                            <select id="select" name="select" onchange="addSubselect(event)"  class = "<%= sheetKeys[i] %>Select" >
                                                <% listKeys = Object.keys(v.list);
                                                for (var j = 0 ; j < listKeys.length ; j ++){ %>
                                                    <option><%= listKeys[j] %></option>
                                                <% } %>
                                                <script>addSubselect({currentTarget : document.getElementsByClassName("<%= sheetKeys[i] %>" + "Select")[0]});</script>
                                            </select>
                                            <% } %>
                                            
                                        <% }else if(v.listType == "input") { %>
                                            <input></input>
                                        <% }else if(v.listType == "time") { %>
                                            <input class = "timeTest" type = "time" value="09:00"></input>
                                        <% } %>
                                        <i hidden="true" onClick="removeItem(event);" name="remove" title="remove" class="tagRemove">x</i>
                                        <i style="display:none;" class="fa fa-repeat tagReload" aria-hidden="true" onClick="reloadItem(event);" name="reload" title="reload"></i>
                                        <p hidden="true" name="title" class="itemTitle"></p>
                                        <p hidden="true" name="info">loading...</p>
                                        <script name="callapi"></script>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>
        <!--blockList-->
        
        <!--teachPage-->
        <div class = "teachPageContainer" style="display:none;">
            <div class = "teachPageHeader"></div>

            <div class = "teachPagebody">
                <div class = "prePageContainer" >
                    <div class = "prePageDiv" onclick = "prePage()" style="display:none">
                        <i class="fa fa-chevron-left prePage" aria-hidden="true" ></i>
                    </div>
                </div>
                <div class = "imageContainer" style="background-image: url('img/teachPage/Welcome.jpg')"></div>
                <div class = "nextPageContainer">
                    <div class = "nextPageDiv" onclick = "nextPage()" style="display:block">
                        <i class="fa fa-chevron-right nextPage" aria-hidden="true"></i>
                        <div class = "startBtn" onclick="startBtn()" style="display:none"><b>GO!<b></div>
                    </div>
                </div>
            </div>

            <div class = "footer"> </div>
            <div class = "skipBtn" onclick="skipBtn()"><b>Skip ▶▶</b></div>
        </div>
        <script>animation()</script>
        <% if(newhand) { %>
            <script>teachPageOnload()</script>
        <% } %>
        <!--teachPage-->

        
    </body>
</html>