<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="_csrf" content= '<%= csrfToken %>' >
        <% var userSettings = userData.settings || {}; %>
        <script>
            var userData = JSON.parse('<%- JSON.stringify(userData) %>');
            var settings = JSON.parse('<%- JSON.stringify(userSettings) %>');
            var apidata = JSON.parse('<%- JSON.stringify(apidata) %>');
        </script>
        <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script>
            $(function(){
                $(document).tooltip({
                    position:{at: "center right"}
                });
            });
        </script>
        <script type="text/javascript">document.documentElement.style.setProperty("--gridRowNum", "<%= gridRowNum %>");</script>
        <script type="text/javascript" src="/js/updateLocation.js"></script>
        <script type="text/javascript" src="/js/addSubselect.js"></script>
        <script type="text/javascript" src="/js/gridItemDrag.js"></script>
        <script type="text/javascript" src="/js/toolbar.js"></script>
        <script type="text/javascript" src="/js/removeItem.js"></script>
        <script type="text/javascript" src="/js/callApi.js"></script>
        <script type="text/javascript" src="/js/editName.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>
        <script type="text/javascript" src="/js/postBtn.js"></script>
        <script type="text/javascript" src="/js/createSelectOptions.js"></script>
        <script type="text/javascript" src="/js/weather.js"></script>
        <script type="text/javascript" src="/js/time.js"></script>
        <script type="text/javascript" src="/js/ubike.js"></script>
        <script type="text/javascript" src="/js/ubikeNTP.js"></script>
        <script type="text/javascript" src="/js/news.js"></script>
        <script type="text/javascript" src="/js/posts.js"></script>
        <script type="text/javascript" src="/js/cwbWarning.js"></script>
        <!--<script>console.log('%c看屁 (ﾒ ﾟ皿ﾟ)ﾒ', 'color: #f00; font-size: 90px;');</script>-->
        <script>
            function reloadItem(event){
                event.preventDefault();
                
                let target = event.currentTarget.parentNode;
                console.log(target.id);
                let idSplited = target.id.split("_");
                let title = idSplited[0];
                let subtitle = idSplited[1];
                if(idSplited[2]){
                    subtitle += "_" + idSplited[2];
                }
                if(title.indexOf("Post") < 0){
                    target.querySelector("p[name=info]").innerHTML = "<img src=\"/img/Rolling.gif\">";
                    callApi(title, subtitle);
                }
            }
        </script>

    </head>
    <body>
        <header onclick="hiddenBlockList();hiddenSettingList();">
            <p class="hi">Hi!</p>
            <p class = "userName"><%=userData.name %></p>
        </header>

        <div style = "height:50px;"></div>
        <main ondragover="allowDrop(event);" onclick="hiddenBlockList();hiddenSettingList();" id="main">
            <% for(let i=0, n=60, hasItem=false; i < n; i++) {
                for(let key in userData.settings) {
                    let v = userData.settings[key]; 
                    if(+v.gridItemIndex === i) { %>
                    <div id="<%= v.title + "_" + v.subtitle %>" name="<%= v.title %>" ondrop="dropOnItem(event);" draggable="true" ondragstart="itemDrag(event);" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">
                        <i class="tagRemove" onClick="removeItem(event);" name="remove" title="remove">x</i>
                        <i class="fa fa-repeat tagReload" aria-hidden="true" onClick="reloadItem(event);" name="reload" title="reload"></i>
                        <p name="title" class="itemTitle"><%= (v.subtitle!=="null")?(v.title + "-" + v.subtitle.replace("_","-")):(v.title) %></p>
                        <p name="info" class="info">loading...</p>
                        <script>callApi("<%= v.title %>", "<%= v.subtitle %>");</script>
                    </div>
                    <%  i+= (v.gridItemSize.width - 1);
                        hasItem = true;
                        break;
                    }
                }
                if(!hasItem) { %>
                    <div id="<%= 'hiddenGrid' + i %>" ondrop="dropOnHiddenItem(event);" class="gridHidden"></div>
                <% }
                hasItem=false;
            } %>
        </main>

        <!--blockList-->
        <div ondragover="allowDrop(event);" class = "blockList" style = "display:none">
            <table class = "optionsContainer" border= '1'>
                <% for(let i = 0 ; i < apiKeys.length ; i++) { %>
                    <tr>
                        <%  let v = apidata[apiKeys[i]]; %>
                        <td >
                            <font><%= v.title %>:</font>
                        </td>
                        <td class="blockListItem">
                            <div id="<%= v.title + "_default" %>" name="<%= v.title %>" ondrop="dropOnItem(event);" draggable="true" ondragstart="itemDrag(event);" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">

                                <font name="selectTitle" class="itemTitle"><%= (v.subtitle)?(v.title + "-"):(v.title) %></font>
                                <% if(v.listType == "select") {
                                    if(v.subtitle) { %>
                                    <select id="select" name="select" onchange="addSubselect(event)"  class = "<%= apiKeys[i] %>Select" >
                                        <% listKeys = Object.keys(v.list);
                                        for (var j = 0 ; j < listKeys.length ; j ++){ %>
                                            <option><%= listKeys[j] %></option>
                                        <% } %>
                                        <script>addSubselect({currentTarget : document.getElementsByClassName("<%= apiKeys[i] %>" + "Select")[0]});</script>
                                    </select>
                                    <% } %>
                                    <i hidden="true" onClick="removeItem(event);" name="remove" title="remove" class="tagRemove">x</i>
                                    <i style="display:none;" class="fa fa-repeat tagReload" aria-hidden="true" onClick="reloadItem(event);" name="reload" title="reload"></i>
                                    <p hidden="true" name="title" class="itemTitle"></p>
                                    <p hidden="true" name="info">loading...</p>
                                    <script name="callapi"></script>
                                <% }else if(v.listType == "input") { %>
                                    <input></input>
                                    <i hidden="true" onClick="removeItem(event);" name="remove" title="remove" class="tagRemove">x</i>                                    
                                    <i style="display:none;" class="fa fa-repeat tagReload" aria-hidden="true" onClick="reloadItem(event);" name="reload" title="reload"></i>
                                    <p hidden="true" name="title" class="itemTitle"></p>
                                    <p hidden="true" name="info">loading...</p>
                                    <script name="callapi"></script>
                                <% } %>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>

        <!--toolbar-->
        <div class = "toolbarContainer">
            <table class = "toolbarTable">
                <tr>
                    <td>
                        <i class="fa fa-cog" name="toolbarIcon" id = "settingListBtn" aria-hidden="true" onclick="settingListBtnOnclick()"
                            onmouseover="settingListBtnOnmouseover(this)" onmouseout="settingListBtnOnmouseout(this)" title="Settings"></i> <!--setting-->
                    </td>
                    <td>
                        <i class="fa fa-th-list" name="toolbarIcon" id = "blockListBtn" aria-hidden="true" onclick="blockListBtnOnclick()"
                            onmouseover="blockListBtnOnmouseover(this)" onmouseout="blockListBtnOnmouseout(this)" title="Items"></i><!--blockList-->
                    </td>
                </tr>
            </table>
        </div>
        <!--toolbar-->

        <!--settingsList-->
        <div class = "settingList" style = "display:none">
            <table class = "settingTable">
                <tr onclick="logout()">
                    <td>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </td>
                    <td>
                        <font>Sign out</font>
                    </td>
                </tr>
                 <tr onclick="editName()">
                     <td>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </td>
                    <td>
                       <font>Change name</font>
                    </td>
                </tr>
            </table>
        </div>
        <!--settingsList-->

        <!--modal-->
        <div class = "modalContainer">
            <div class = "modal">
                <h3 class="modalTitle">change name:</h3>
                <input class="newName" type = "text"></input>
                <button class="saveName" onclick="saveName()">save</button>
            </div>
        </div>
        <!--modal-->

    </body>

</html>