<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="_csrf" content= <%= csrfToken %> >
        <% var userSettings = userData.settings || {} %>
        <script>
            var userData = JSON.parse('<%- JSON.stringify(userData) %>');
            var settings = JSON.parse('<%- JSON.stringify(userSettings) %>');
        </script>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">document.documentElement.style.setProperty("--gridRowNum", "<%= gridRowNum %>");</script>
        <script type="text/javascript" src="/js/updateLocation.js"></script>
        <script type="text/javascript" src="/js/gridItemDrag.js"></script>
        <script type="text/javascript" src="/js/blockList.js"></script>
        <script type="text/javascript" src="/js/removeItem.js"></script>
        <script type="text/javascript" src="/js/callApi.js"></script>
        <script type="text/javascript" src="/js/editName.js"></script>
        <script type="text/javascript" src="/js/createSelectOptions.js"></script>
        <script type="text/javascript" src="/js/weather.js"></script>
        <script type="text/javascript" src="/js/time.js"></script>
        <script type="text/javascript" src="/js/ubike.js"></script>
        <script type="text/javascript" src="/js/ubikeNTP.js"></script>
    </head>
    <body>
        <header>
            <p class="hi">Hi!</p>
            <p class = "userName"><%=userData.name %></p>
            <button class = "setName" onclick="editName()"></button>
            <button class="blockListBtn" onclick="listBtnOnclick()"></button>
        </header>
        <!--modal-->
        <div class = "modalContainer">
            <div class = "modal">
                <h3 class="modalTitle">change name:</h3>
                <input class="newName" type = "text"></input>
                <button class="saveName" onclick="saveName()">save</button>
            </div>
        </div>
        <!--modal-->
        <div style = "height:50px;"></div>
        <main ondragover="allowDrop(event);" onclick="hiddenBlockList()" id="main">
            <% for(let i=0, n=60, hasItem=false; i < n; i++) {
                for(let key in userData.settings) {
                    let v = userData.settings[key]; 
                    if(+v.gridItemIndex === i) { %>
                    <div id="<%= v.title + "_" + v.subtitle %>" name="<%= v.title %>" ondrop="dropOnItem(event);" draggable="true" ondragstart="itemDrag(event);" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">
                        <p onClick="removeItem(event);" name="remove" title="remove" class="tagRemove">x</p>
                        <p name="title" class="itemTitle"><%= v.title + "-" + v.subtitle %></p>
                        <p name="info">loading...</p>
                        <script>callApi("<%= v.title %>", "<%= v.subtitle %>");</script>
                        <!--<script>addScript("<%= v.title %>", "<%=v.subtitle %>");</script>-->
                    </div>
                    <%  i+= (v.gridItemSize.width - 1);
                        hasItem = true;
                        break;
                    }
                }
                if(!hasItem) { %>
                    <div id="<%= "hiddenGrid" + i %>" ondrop="dropOnHiddenItem(event);" class="gridHidden"><!--<p><%= "hiddenGrid" +  i %></p>--></div>
                <% }
                hasItem=false;
            } %>
        </main>

        <div class = "blockList" style = "display:none">
            <table class = "optionsContainer" border= '1'>
                <% for(let i = 0 ; i < apiKeys.length ; i++) { %>
                    <tr>
                        
                        <td >
                            <font><%= apiKeys[i] %>:</font>
                        </td>
                        
                        <td class="blockListItem">
                          
                            <%  let v = apidata[apiKeys[i]]; %>
                            <div id="<%= v.title + "_default" %>" name="<%= v.title %>" ondrop="dropOnItem(event);" draggable="true" ondragstart="itemDrag(event);" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">

                                <font name="selectTitle" class="itemTitle"><%= v.title + "-" %></font>
                                <select name="select" class = "<%= apiKeys[i] %>Select" ></select>

                                <p hidden="true" onClick="removeItem(event);" name="remove" title="remove" class="tagRemove">x</p>
                                <p hidden="true" name="title" class="itemTitle"><%= v.title + "-" + v.subtitle %></p>
                                <p hidden="true" name="info">loading...</p>

                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        <script>createSelectOptions('<%- JSON.stringify(apidata) %>')</script>
    </body>
</html>