<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">document.documentElement.style.setProperty("--gridRowNum", '<%= gridRowNum %>');</script>
        <script type="text/javascript" src="/js/addScript.js"></script>
        <script type="text/javascript" src="/js/gridItemDrag.js"></script>
    </head>
    <body>
        <header>
            <p class="name">Hi! <%=result.name %></p>
        </header>
        <main  ondragover="allowDrop(event)" id="main">
            <% for(var v of result.settings) { %>
                <div id="<%= v.title + "_" + v.subtitle %>" name="<%= v.title %>" ondrop="dropOnItem(event)" draggable="true" ondragstart="itemDrag(event)" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;" class="gridItem" >
                    <p name="title" style="font-weight:bold; font-size:18px"><%= v.title + "-" + v.subtitle %></p>
                    <p name="info">loading...</p>
                    <script>addScript("<%= v.title %>", "<%=v.subtitle %>");</script>
                </div>
            <% } %>


            <% for(var i=1, n=58; i < n; i++) { %>
                <div id="<%= "hiddenGrid" +  i %>" ondrop="dropOnHiddenItem(event)" class="gridHidden" >
                    <!--<p><%= "hiddenGrid" +  i %></p>-->
                </div>
            <% } %>

        </main>

</html>