<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="_csrf" content= <%= csrfToken %> >
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">document.documentElement.style.setProperty("--gridRowNum", "<%= gridRowNum %>");</script>
        <script type="text/javascript" src="/js/addScript.js"></script>
        <script type="text/javascript" src="/js/gridItemDrag.js"></script>
        <script type="text/javascript" src="/js/blocklist.js"></script>
        <script type="text/javascript" src="/js/removeItem.js"></script>

    </head>
    <body>
        <header>
            <p class="name">Hi! <%=userData.name %></p>
            <button class="blockListBtn" onclick="liskBtnOnclick()"></button>
        </header>
        <main  ondragover="allowDrop(event)" id="main">
            <!--
            <% for(var v of userData.settings) { %>
                <div id="<%= v.title + "_" + v.subtitle %>" name="<%= v.title %>" ondrop="dropOnItem(event)" draggable="true" ondragstart="itemDrag(event)" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">
                        <p onClick="removeItem(event)" name="remove" title="remove" class="tagRemove">x</p>
                    <p name="title" style="font-weight:bold; font-size:18px"><%= v.title + "-" + v.subtitle %></p>
                    <p name="info">loading...</p>
                    <script>addScript("<%= v.title %>", "<%=v.subtitle %>");</script>
                </div>
            <% } %>
            -->


            <% for(let i=0, n=60, hasItem=false; i < n; i++) { %>
                <% for(let v of userData.settings) { %>
                    <% if(v.gridItemIndex === i) {%>
                        <div id="<%= v.title + "_" + v.subtitle %>" name="<%= v.title %>" ondrop="dropOnItem(event)" draggable="true" ondragstart="itemDrag(event)" class="gridItem" style="grid-column:span <%= v.gridItemSize.width %>; grid-row:span <%= v.gridItemSize.height %>;">
                            <p onClick="removeItem(event)" name="remove" title="remove" class="tagRemove">x</p>
                            <p name="title" class="itemTitle"><%= v.title + "-" + v.subtitle %></p>
                            <p name="info">loading...</p>
                            <script>addScript("<%= v.title %>", "<%=v.subtitle %>");</script>
                        </div>
                        <% i+= (v.gridItemSize.width - 1) %>
                        <% hasItem = true; %>
                        <% break; %>
                    <% } %>
                <% } %>
                <% if(!hasItem) { %>
                    <div id="<%= "hiddenGrid" +  i %>" ondrop="dropOnHiddenItem(event)" class="gridHidden">
                        <!--<p><%= "hiddenGrid" +  i %></p>-->
                    </div>
                <% } %>
                <% hasItem=false; %>
            <% } %>

        </main>

        <div class = "blockList" style = "display:none">
            <table class = "optionsContainer" border= '1'>
                <% for(let i = 0 ; i < apiKeys.length ; i++) { %>
                    <tr>
                        <td >
                            <font><%= apiKeys[i] %>:</font>
                        </td>
                        <td>
<<<<<<< HEAD
                            <div class = "options" style = "width:calc((100vw - 24px)/6*1)" onclick = "optionClick('<%= userData.account %>','<%= apiKeys[i] %>')">

                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>

        <script>
            function updateLocation(){
                console.log('updateLocation');

                let mainChildren = document.getElementById("main").children;
                let gridItemLocation = [];
                for(let item of mainChildren){
                    //console.log(item.id)

                }
            }
        </script>
    
    </body>
</html>